.options-icon {
  cursor: pointer;
}
.options {
  margin-left:143px;
  margin-top:5px;
  background-color: #fff;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  display: none;
  z-index: 1;
  display:block;
  align-items: center;
  justify-content: center;
}

.options img {
  width: 18px;
  height: 18px;
  cursor: pointer;
  object-fit: contain;
}