.options-icon {
  cursor: pointer;
}
.options {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  display: none;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  object-fit: contain;
}