header #branding #emactive{
    margin-top: 10px;
    width: 65px;
    min-height: 10%;
    margin-bottom: 0;
}

.containerem{
    width:95%;
}

.rightemhead{
    display: flex;
    height: 120px;
    align-items: center;
    text-align: left;
    width: 95%;
    margin: auto;
}

.adminemline{
    border-top: 5px solid black;
    border-radius: 5px;
    width: 95%;
    margin: auto;
}

.adminemhead{
    width: 90%;
    text-align: right;
    margin-left: 0;
        p{
            margin: auto;
        }
}

.adminemicon{
    width: 7%;
    padding: 5px;
    margin: auto;
        img{
            width: 70px;
        }
}

.adminemhead p{
    font-size: 46px;
    font-weight: 700;
    text-align: left;
    color: #343A40;
}

.embox{
    display: flex;
    
}

#emservices{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.boxem{
    width: 90%;
    float: left;
    padding: 0;
    position: relative;
    margin: 1%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.3);
        img{
            width: 100%;
        }

        p{
            padding: 5px 20px;
            font-size: 18px;
        }
    
}