body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    align-content: center;
}

/* Global */

/* NAVIGATION BAR*/
.container1{
    width: 95%;
    margin: auto;
    overflow: visible;
}

/*YELLOW BOX*/
#showcase{ 
    margin: auto;
    margin-top: 20px;
    width: 95%;
    overflow: hidden;
    filter: drop-shadow(0 0 0.75rem #0000008a); /*SHADOW*/
}

/*3 BOXES*/
#services{
    width: auto;
    margin: auto;
    overflow: hidden;
    max-width: auto;
}

.box{
    display:flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    transition: 1s;
}

.box:hover{
    transform: scale(1.1);
    z-index: 2;
}

/* Header - NAVIGATION BAR */
header{
    background: #293A82;
    color: #ffffff;
    padding-top: 0;
    min-height: 90px;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
header ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
header li{
    float: left;
    display: inline;
    position: relative;
    padding: 0 20px 30px 20px;
}
header .user{
    padding: 0 0 30px 0;
}
header .notification{
    padding: 7px 20px 20px 10px;
}
header .notification img{
    padding: 0 0 0 20px;
}
header .username{
    padding: 0 30px 0 0;
}
header li ul.dropdown li{
    display: block;
}
header li ul.dropdown{
    width: 100%;
    background: #ffffff;
    border: #000000 solid;
    margin: 0 0px 100px -250px;
    padding: 10px 200px 10px 10px;
    position: absolute;
    z-index: 999;
    display: none;
    align-items: center;
}
header li ul.dropdown h3{
    color: #000000;
    margin: 10px 60px 10px 30px;
    padding: 10px 100px 10px 80px;
    position: relative;
    display: inline-block;
}
header li ul.dropdown p{
    color: #000000;
    margin: 10px 60px 10px 15px;
    padding: 10px 100px 10px 80px;
    position: relative;
    display: inline-block;
}
header .settings li{
    padding: 20px 100px 20px 70px;
    margin: 10px 50px 10px 10px;
    position: relative;
    background: url(../img/Settings.png) no-repeat; 
}
header .settings li:hover{
    background: url(../img/Settings\ Hover.png) no-repeat;
}
header .logout li{
    padding: 20px 100px 20px 70px;
    margin: 10px 50px 10px 10px;
    position: relative;
    background: url('../img/Logout.png') no-repeat;
}
header .logout li:hover{
    background: url(../img/Settings\ Hover.png) no-repeat;
}
header li:hover ul.dropdown{
    display: block;
}
header #branding{
    float: left;
}
header #branding img{
    margin-top: 20px;
    width: 230px;
    margin-bottom: 0;
}
header nav{
    float: right;
    margin-top: 20px;
}

/* Showcase YELLOW BOX*/

#showcase img{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 0px;
    object-fit: contain;
}

.showcase p{
    text-align: center;
    font-size: 20px;
}

/* Boxes */
.container2{
    min-height: 100%;
    margin: 0 0 0 0;
    padding: auto;
    /* border: #000000 solid; */
}
.container2{
    padding: 2em;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));

    .box{
        padding: 1em;
        border-radius: .3em;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);

        p{
            margin-top: 0;
        }

        span{
            font-weight: bold;
            position: relative;
            margin-left: 100%;
        }
    }
}
.container2 .box{
    float: left;
    position:relative;
    display: block;
    width: 80%;
}

.container2 .box img{
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.container2 a{
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}

.container{
    object-fit: cover;
    position: relative;

}

/*WHITE LOGO INSIDE YELLOW BOX*/
.image2{
    position: absolute;
    right: center;
    top: 20%;
    max-width: 100%;
    max-height: 100%;
}

