body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    align-content: center;
}

/* Global */
.container1{
    width: 90%;
    margin: auto;
    overflow: visible;
}

#services{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#showcase{
    margin: auto;
    margin-top: 20px;
    width: 85%;
    overflow: hidden;
}

/* Header */
header{
    background: #293A82;
    color: #ffffff;
    padding-top: 0;
    min-height: 90px;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

header ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

header li{
    float: left;
    display: inline;
    position: relative;
    padding: 0 20px 30px 20px;
}

header .user{
    padding: 0 0 30px 0;
}

header .notification{
    padding: 7px 20px 20px 10px;
}

header .notification img{
    padding: 0 0 0 20px;
}

header .username{
    padding: 0 30px 0 0;
}

header li ul.dropdown li{
    display: block;
}

header li ul.dropdown{
    width: 100%;
    background: #ffffff;
    border: #000000 solid;
    margin: 0 0px 100px -250px;
    padding: 10px 200px 10px 10px;
    position: absolute;
    z-index: 999;
    display: none;
    align-items: center;
}

header li ul.dropdown h3{
    color: #000000;
    margin: 10px 60px 10px 30px;
    padding: 10px 100px 10px 80px;
    position: relative;
    display: inline-block;
}

header li ul.dropdown p{
    color: #000000;
    margin: 10px 60px 10px 15px;
    padding: 10px 100px 10px 80px;
    position: relative;
    display: inline-block;
}

header .settings li{
    padding: 20px 100px 20px 70px;
    margin: 10px 50px 10px 10px;
    position: relative;
    background: url(../img/Settings.png) no-repeat;
    
}

header .settings li:hover{
    background: url(../img/Settings\ Hover.png) no-repeat;
}

header .logout li{
    padding: 20px 100px 20px 70px;
    margin: 10px 50px 10px 10px;
    position: relative;
    background: url('../img/Logout.png') no-repeat;
}

header .logout li:hover{
    background: url(../img/Settings\ Hover.png) no-repeat;
}

header li:hover ul.dropdown{
    display: block;
}

header #branding{
    float: left;
}

header #branding img{
    margin-top: 20px;
    width: 230px;
    margin-bottom: 0;
}

header nav{
    float: right;
    margin-top: 20px;
}

/* Showcase */
#showcase{
    min-height: 100%;
    background: url('../img/apc-building.png') no-repeat;
    text-align: center;
    color: #ffffff;
}

#showcase img{
    margin-top: 100px;
    width: 50%;
    margin-bottom: 50px;
}

#showcase p{
    text-align: center;
    font-size: 20px;
}

/* Boxes */
.container2{
    min-height: 40%;
    margin: 10px 0 0 0;
    padding: auto;
    /* border: #000000 solid; */
}

.container2 .box{
    float: left;
    width: 400px;
    padding: 3.3%;
    position: relative;
}

.container2 .box img{
    width: 100%;
}

.container2 a{
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}