body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #293A82;
}

a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}