/* Program List */
.programlisthead{
    width: 50%;
    min-width: 50%;
    text-align: right;
    margin-left: 0;
    margin-bottom: 0px;
}

.programlisthead p{
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    color: #343A40;
}